binds {
    // DankMaterialShell
    Mod+D hotkey-overlay-title="Open App Launcher" { spawn "dms" "ipc" "call" "spotlight" "toggle"; }
    Mod+S hotkey-overlay-title="Take a Screenshot" { spawn "dms" "ipc" "call" "niri" "screenshot"; }
    Super+Alt+L hotkey-overlay-title="Lock the Screen" { spawn "dms" "ipc" "call" "lock" "lock"; }

    XF86AudioRaiseVolume  allow-when-locked=true { spawn "dms" "ipc" "call" "audio" "increment" "5"; }
    XF86AudioLowerVolume  allow-when-locked=true { spawn "dms" "ipc" "call" "audio" "decrement" "5"; }
    XF86AudioMute         allow-when-locked=true { spawn "dms" "ipc" "call" "audio" "mute"; }
    XF86AudioMicMute      allow-when-locked=true { spawn "dms" "ipc" "call" "audio" "micmute"; }
    XF86AudioPlay         allow-when-locked=true { spawn "dms" "ipc" "call" "mpris" "playPause"; }
    XF86AudioStop         allow-when-locked=true { spawn "dms" "ipc" "call" "mpris" "stop"; }
    XF86AudioPrev         allow-when-locked=true { spawn "dms" "ipc" "call" "mpris" "previous"; }
    XF86AudioNext         allow-when-locked=true { spawn "dms" "ipc" "call" "mpris" "next"; }
    XF86MonBrightnessUp   allow-when-locked=true { spawn "dms" "ipc" "call" "brightness" "increment" "5" ""; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "dms" "ipc" "call" "brightness" "decrement" "5" ""; }
}

switch-events {
    lid-close {
        spawn "dms" "ipc" "call" "lock" "lock"
    }
}
